<div class="selector-container">
  <div class="lista-tarjetas" role="list">
    @for (p of graficaList; track p.id) {
    <button type="button" class="tarjeta" (click)="seleccionarGrafica(p)"
      [class.activa]="graficaSeleccionada?.id === p.id" role="listitem"
      [attr.aria-pressed]="graficaSeleccionada?.id === p.id"
    >
      <div class="thumb">
        <img [src]="p.urlImagen" alt="Imagen de {{ p.nombre }}" loading="lazy" />
      </div>
      <div class="info">
        <p class="titulo">{{ p.nombre }}</p>
        <p class="marca">{{ p.marca }}</p>
      </div>
    </button>
    }
  </div>



  <aside class="tarjeta-detalle" aria-live="polite">
    @if (graficaSeleccionada) {
    <div class="contenido">
      <h3 class="detalle-titulo">{{ graficaSeleccionada.nombre }}</h3>
      <div class="imagen-grande-wrap">
        <img
          [src]="graficaSeleccionada.urlImagen"
          alt="Imagen grande de {{ graficaSeleccionada.nombre }}"
          loading="lazy"
        />
      </div>

      <div class="especificaciones">
        <h4>ESPECIFICACIONES</h4>
        @if (graficaSeleccionada.id) {
          <p>
            <strong>Marca:</strong> {{ graficaSeleccionada.marca }}
          </p>
          <p>
            <strong>Consumo de Watts:</strong> {{ graficaSeleccionada.consumoWatts }} W
          </p>
        }
      </div>
      <button class="btn-next" (click)="continuar()">Siguiente</button>
    </div>
    } @else {
    <div class="estado-inicial">
      <h3>Selecciona una Targeta grafica</h3>
      <p>Aquí verás la vista ampliada y las especificaciones.</p>
    </div>
    }
  </aside>
</div>