<div class="selector-container">
  <div class="lista-tarjetas" role="list">
    @for (p of ramList; track p.id) {
    <button type="button" class="tarjeta" (click)="seleccionarRam(p)"
      [class.activa]="ramSeleccionada?.id === p.id" role="listitem"
      [attr.aria-pressed]="ramSeleccionada?.id === p.id"
    >
      <div class="thumb">
        <img [src]="p.urlImagen" alt="Imagen de {{ p.nombre }}" loading="lazy" />
      </div>
      <div class="info">
        <p class="titulo">{{ p.nombre }}</p>
        <p class="marca">{{ p.marca }}</p>
      </div>
    </button>
    }
  </div>



  <aside class="tarjeta-detalle" aria-live="polite">
    @if (ramSeleccionada) {
    <div class="contenido">
      <h3 class="detalle-titulo">{{ ramSeleccionada.nombre }}</h3>
      <div class="imagen-grande-wrap">
        <img
          [src]="ramSeleccionada.urlImagen"
          alt="Imagen grande de {{ ramSeleccionada.nombre }}"
          loading="lazy"
        />
      </div>

      <div class="especificaciones">
        <h4>ESPECIFICACIONES</h4>
        @if (ramSeleccionada.id) {
          <p>
            <strong>Marca:</strong> {{ ramSeleccionada.marca }}
          </p>
          <p>
            <strong>Tipo de memoria:</strong> {{ ramSeleccionada.tipoMemoria }}
          </p>
        }
      </div>
      <button class="btn-next" (click)="continuar()">Siguiente</button>
    </div>
    } @else {
    <div class="estado-inicial">
      <h3>Selecciona una Memoria Ram</h3>
      <p>Aquí verás la vista ampliada y las especificaciones.</p>
    </div>
    }
  </aside>
</div>
