<div class="selector-container">
  <div class="lista-tarjetas" role="list">
      @for (p of placaList; track p.id) {
      <button
          type="button" class="tarjeta"(click)="seleccionarPlaca(p)"
          [class.activa]="placaSeleccionada?.id === p.id" role="listitem"
          [attr.aria-pressed]="placaSeleccionada?.id === p.id"
      >
          <div class="thumb">
          <img [src]="p.urlImagen" alt="Imagen de {{ p.nombre }}" loading="lazy" />
          </div>
          <div class="info">
          <p class="titulo">{{ p.nombre }}</p>
          <p class="marca">{{ p.marca }}</p>
          </div>
      </button>
      }
  </div>

    
    <aside class="tarjeta-detalle" aria-live="polite">
      @if (placaSeleccionada) {
        <div class="contenido">
          <h3 class="detalle-titulo">{{ placaSeleccionada.nombre }}</h3>
          <div class="imagen-grande-wrap">
            <img [src]="placaSeleccionada.urlImagen"
                alt="Imagen grande de {{ placaSeleccionada.nombre }}"
                loading="lazy" />
          </div>

          <div class="especificaciones">
            <h4>ESPECIFICACIONES</h4>
            <p><strong>Marca:</strong> {{ placaSeleccionada.marca }}</p>
            <p *ngIf="placaSeleccionada.socket"><strong>Frecuencia:</strong> {{ placaSeleccionada.socket }} GHz</p>
            <p *ngIf="placaSeleccionada.socket"><strong>Socket:</strong> {{ placaSeleccionada.socket }}</p>
          </div>
          <button class="btn-next" (click)="continuar()">Siguiente</button>
        </div>
      } @else {
        <div class="estado-inicial">
          <h3>Selecciona un procesador</h3>
          <p>Aquí verás la vista ampliada y las especificaciones.</p>
        </div>
      }
    </aside>
</div>